:root {
    --orangecolor: #FD9222;
    --blackcolor: #000;
    --darkvioletcolor: #1E1823;
    --linencolor: #FAFAFA;
    --damaskcolor: #FCF1E0;
    --whitecolor: #ffffff;
    --metalliccolor: #111111;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}


h2,
p,
ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.lists {
    list-style-type: none;
    padding: 0;
}

.links {
    text-decoration: none;
}

/* Subscribe Section */

.subscribe-bg {
    padding: 72px 367px 72px 366px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.20),
            rgba(0, 0, 0, 0.20)),
        url(../images/subcribe.jpg);
    max-width: 1200px;
    max-height: 370px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    flex-shrink: 0;
    margin-left: auto;
    margin-right: auto;
}

.subscribe-container {
    display: flex;
    flex-direction: column;
    padding: 72px 367px 72px 366px;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.subscribe-title {
    color: var(--whitecolor);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.02em;
}

.subscribe-text {
    color: var(--whitecolor);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.02em;
}

.subscribe-button {
    cursor: pointer;
    color: var(--whitecolor);
    background: var(--orangecolor);
    font-family: inherit;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.04em;
    border: none;
    border-radius: 100px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 14px 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
    background-color: var(--damaskcolor);
    color: var(--orangecolor);
}

/* Footer Section */

.footer {
    background-color: var(--darkvioletcolor);
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    justify-content: center;
}

.container-footer {
    width: 1200px;
    padding-left: 32px;
    padding-right: 32px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}

.footer-title {
    color: var(--whitecolor);
    font-size: 28px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: -0.02em;
    margin-bottom: 32px;
    width: 300px;
    text-align: left;
    text-transform: none;
}

.footer-title-span {
    color: var(--orangecolor);
}

.footer-top-wrap {
    display: flex;
    align-items: flex-start;
    gap: 59px;
}

.footer-sub-title {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    color: var(--whitecolor);
    margin-bottom: 14px;
    text-decoration: none;
}

.footer-address-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.footer-address-link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    letter-spacing: -0.02em;
    color: var(--whitecolor);
    text-decoration: none;
}

.footer-social-list {
    display: flex;
    gap: 14px;
}

.footer-social-item {
    width: 22px;
    height: 22px;
}

.footer-svg {
    stroke: var(--whitecolor);
    fill: transparent;
}

.footer-svg:hover,
.footer-svg:active {
    stroke: var(--orangecolor);
    fill: transparent;
}

.footer-bottom::before {
    content: '';
    display: block;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    bottom: 32px;
    position: relative;
}

.footer-bottom-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-bottom: 50px;
}

.footer-bottom-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: var(--whitecolor);
    text-decoration: none;
}


.footer-address-link:is(:hover, :focus),
.footer-bottom-link:is(:hover, :focus) {
    color: var(--orangecolor);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-bottom-link:is(:hover, :focus)::after {
    position: absolute;
    display: block;
    content: '';
    background-color: var(--orangecolor);
    pointer-events: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}