.backdrop,
.backdrop * {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

.backdrop {
    background: rgba(46, 47, 66, 0.40);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition-property: visibility, opacity;
    transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: auto;
    transform: scale(1);
    z-index: 9999;
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.5);
}

.field-wrap {
    position: relative;
}

/* START OF MODAL-BUY STYLING */

.modal-buy-close {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    width: 28px;
    height: 28px;
    position:absolute;
    top: 2.5%;
    left: 90%;
    background-color: #FAFAFA;
}

.close-icon {
    stroke: #111;
}

.modal-buy-close:hover > .close-icon {
    stroke: #FD9222;
}

.modal-buy-close:active > .close-icon {
    stroke: #FD9222;
}

.modal-buy {
    border-radius: 15px;
    background: #FAFAFA;
    width: 513px;
    height: 962px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.modal-buy::-webkit-scrollbar {
    display: none;
}

.modal-buy-header {
    margin-top: 48px;
}

.modal-buy-header-span-1 {
    color: #FD9222;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 116.667% */
    letter-spacing: -0.72px;
    text-transform: uppercase;
}

.modal-buy-header-span-2 {
    color: #111;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.72px;
    text-transform: uppercase;
}

.modal-buy-choco-option {
    display: flex;
    gap: 16px;
}

.modal-buy-card {
    display: flex;
    width: 86px;
    height: 154px;
    padding: 24px 20px 18px 20px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 14px;
    

    border-radius: 15px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    background: #FFF;
    margin-bottom: 22px;
}

.modal-buy-choco-button {
    display: flex;
    padding: 8px 27px;
    justify-content: center;
    align-items: flex-start;
    gap: 14px;
    width: 42px;

    border-radius: 100px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    background: #FAFAFA;

    /* text style */
    color: #111;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.modal-buy-form {
    display: flex;
    flex-direction: column;
    gap: 18px;
	padding-top: 32px;
	padding-left: 48px;
	padding-right: 48px;
	padding-bottom: 48px;
    width: 417px;
}

.modal-buy-label-span {
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.28px;
}

.field-wrap-top-row {
    display: flex;
    align-items: flex-end;
    gap: 21px;
}
    
.modal-buy-label-input {
    padding: 22px 24px;
    gap: 40px;
    width: 369px;
    height: 22px;
    margin-top: 8px;

    border-radius: 13px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    box-shadow: 0px 5.44492px 5.44492px 0px rgba(0, 0, 0, 0.03);
}

.modal-buy-label-input.name,
.modal-buy-label-input.surname  {
    width: 148px;
    height: 22px;
}

.modal-buy-label-input::placeholder,
.modal-buy-label-input-phone::placeholder,
.modal-buy-label-textarea::placeholder {
    color: rgba(64, 64, 64, 0.30);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.36px;
}

.modal-buy-label-icon-phone {
    position: absolute;
    left: 25px;
    top: 50.5%;
}

.modal-buy-label-icon-span-1 {
	position: absolute;
    left: 70px;
    top: 51.5%;
	
	color: #000;
	font-family: Montserrat;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: -0.36px;
}

.modal-buy-label-icon-span-2 {
	position: absolute;
    left: 130px;
    top: 50%;
	
    color: rgba(64, 64, 64, 0.30);
    font-family: Montserrat;
    font-size: 18px;
    font-style: bold;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.36px;
}

.modal-buy-label-input-phone {
    padding-left: 150px;
    padding-right: 22px;
    padding-top: 22px;
    padding-bottom: 22px;
    width: 250px;
    height: 22px;
    margin-top: 8px;
    position: relative;

    border-radius: 13px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    box-shadow: 0px 5.44492px 5.44492px 0px rgba(0, 0, 0, 0.03);
}

.modal-buy-label-icon-card {
	position: absolute;
    left: 85%;
    top: 54%;
	background-color: none;
}

.modal-buy-label-textarea {
    width: 369px;
    padding: 22px 24px 93px 24px;
    margin-top: 8px;

    border-radius: 13px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
}

.modal-buy-submit-button {
    padding: 14px 40px;
    width: 133px;

    border: 0;
    border-radius: 100px;
    background: #FD9222;

    /* text style */
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.modal-buy-submit-button:hover {
    background: #FCF1E0;
    color: #FD9222;
}

.modal-buy-submit-button:active {
    background: #FCF1E0;
    color: #FD9222;
}
/* END OF MODAL-BUY STYLING */




/* START OF MODAL-REVIEW STYLING */
.modal-review-close {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    width: 28px;
    height: 28px;
    position:absolute;
    top: 2.5%;
    left: 90%;
    background-color: #FAFAFA;
}

.modal-review-close:hover > .close-icon {
    stroke: #FD9222;
}

.modal-review-close:active > .close-icon {
    stroke: #FD9222;
}

.modal-review {
    border-radius: 15px;
    background: #FAFAFA;
    width: 437px;
    height: 608px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    padding: 40px;
}

.modal-review::-webkit-scrollbar {
    display: none;
}

.modal-review-header-span-1 {
    color: #111;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 116.667% */
    letter-spacing: -0.72px;
    text-transform: uppercase;
}

.modal-review-header-span-2 {
    color: #FD9222;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.72px;
    text-transform: uppercase;
}

.modal-review-form {
    display: flex;
    flex-direction: column;
    gap: 18px;
	margin-top: 40px;
}

.modal-review-label-input {
    display: flex;
    padding: 22px 24px;
    align-items: flex-start;
    gap: 40px;
    width: 389px;

    border-radius: 13px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    box-shadow: 0px 5.44492px 5.44492px 0px rgba(0, 0, 0, 0.03);
}

.modal-review-label-input::placeholder,
.modal-review-label-input-phone::placeholder,
.modal-review-label-textarea::placeholder {
    color: rgba(64, 64, 64, 0.30);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.36px;
}

.modal-review-label-icon-phone {
    position: absolute;
    left: 25px;
    top: 35%;
}

.modal-review-label-icon-span-1 {
	position: absolute;
    left: 70px;
    top: 35.3%;
	
	color: #000;
	font-family: Montserrat;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: -0.36px;
}

.modal-review-label-icon-span-2 {
	position: absolute;
    left: 125px;
    top: 33%;
	
    color: rgba(64, 64, 64, 0.30);
    font-family: Montserrat;
    font-size: 18px;
    font-style: bold;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.36px;
}

.modal-review-label-input-phone {
    padding-left: 150px;
    padding-right: 22px;
    padding-top: 22px;
    padding-bottom: 22px;
    width: 265px;

    border-radius: 13px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    box-shadow: 0px 5.44492px 5.44492px 0px rgba(0, 0, 0, 0.03);
}

.modal-review-label-textarea {
    display: flex;
    width: 389px;
    padding: 22px 24px 93px 24px;
    align-items: flex-start;
    gap: 40px;

    border-radius: 13px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
}

.modal-review-send-button {
    display: inline-flex;
    padding: 14px 40px;
    align-items: flex-start;
    gap: 14px;
    width: 37px;
    height: 17px;

    border-radius: 100px;
    background: #FD9222;
    border: 0;
    color: #FFF;
}

.modal-review-send-button:hover {
    background: #FCF1E0;
    color: #FD9222;
}

.modal-review-send-button:active {
    background: #FCF1E0;
    color: #FD9222;
}
/* END OF MODAL-REVIEW STYLING */



/* START OF MODAL-SUBSCRIBE STYLING */
.modal-subscribe-close {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    width: 28px;
    height: 28px;
    position:absolute;
    top: 10%;
    left: 90%;
    background-color: #fafafa00;
}

.subscribe-close-icon {
    stroke: #FFF;
}

.modal-subscribe-close:hover > .subscribe-close-icon {
    stroke: #FD9222;
}

.modal-subscribe-close:active > .subscribe-close-icon {
    stroke: #FD9222;
}

.modal-subscribe {
    border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
    background: #FAFAFA;
    width: 458px;
    height: 136px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
	position: relative;
	display: flex;
    flex-direction: column;
    overflow-y: hidden;
	padding: 40px;
}

.modal-subscribe-img {
	background-image: url('./../images/modals/tetiana-bykovets-TzN2odwnesg-unsplash-1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	height: 196px;
	width: 538px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	position: relative;
}

.modal-subscribe::-webkit-scrollbar {
    display: none;
}

.modal-subscribe-header-span-1 {
    color: #111;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 116.667% */
    letter-spacing: -0.72px;
    text-transform: uppercase;
}

.modal-subscribe-header-span-2 {
    color: #FD9222;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.72px;
    text-transform: uppercase;
}

.modal-subscribe-form {
    display: flex;
    flex-direction: row;
    gap: 18px;
	margin-top: 28px;
}

.modal-subscribe-label-input {
    display: flex;
    padding: 22px 24px;
    align-items: flex-start;
    gap: 40px;
	width: 265px;
	height: 8px;

    border-radius: 13px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    box-shadow: 0px 5.44492px 5.44492px 0px rgba(0, 0, 0, 0.03);
}

.modal-subscribe-label-input::placeholder {
    color: rgba(64, 64, 64, 0.30);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.36px;
}

.modal-subscribe-send-button {
    display: flex;
	width: 50px;
	height: 8px;
	padding: 22px 40px;
	justify-content: center;
	align-items: center;
	gap: 14px;
	border: 0;

	border-radius: 100px;
	background: #FD9222;
	color: #FFF;
}

.modal-subscribe-send-button:hover {
    background: #FCF1E0;
    color: #FD9222;
}

.modal-subscribe-send-button:active {
    background: #FCF1E0;
    color: #FD9222;
}
/* END OF MODAL-SUBSCRIBE STYLING */




/* START OF MOBILE STYLING */
    // ------------------------------------BUY-MODAL
@media (max-width: 480px) {

    .modal-buy {
        width: 311px;
        align-items: center;
    }

    .modal-buy-header {
        margin-top: 32px;
    }

    .modal-buy-header-span-1 {
        font-size: 20px;
        line-height: 24px; /* 120% */
        letter-spacing: -0.6px;
    }

    .modal-buy-header-span-2 {
        font-size: 20px;
        line-height: 24px; /* 120% */
        letter-spacing: -0.6px;
    }

    .modal-buy-choco-option {
        flex-direction: column;
        align-items: center;
        gap: 8px;
        margin-bottom: 14px;
    }

    .modal-buy-card {
        flex-direction: row;
        width: 231px;
        height: 69px;
        justify-content: center;
        gap: 77px;
        padding: 6px 16px;
        margin-bottom: 0;
    }

    .modal-buy-choco-button {
        width: 43px;
        padding: 6px 16px;
    }

    .modal-buy-card-img {
        width: 84px;
        height: 69px;
    }

    .modal-buy-form {
        width: 263px;
        padding: 32px 24px;
    }

    .field-wrap-top-row {
        flex-direction: column;
        align-items: flex-start;
        gap: 6px;
    }

    .modal-buy-label-input.name,
    .modal-buy-label-input.surname {
        width: 227px;
        height: auto;
        padding: 14px 18px;
    }

    .modal-buy-label-input {
        width: 227px;
        height: auto;
        padding: 14px 18px;
    }

    .modal-buy-label-input-phone {
        width: 51.5%;
        height: auto;
        padding-left: 110px;
        padding-right: 18px;
        padding-top: 14px;
        padding-bottom: 14px;
    }

    .modal-buy-label-input::placeholder,
    .modal-buy-label-input-phone::placeholder,
    .modal-buy-label-textarea::placeholder {
        font-size: 14px;
        font-weight: 400;
        letter-spacing: -0.28px;
    }

    .modal-buy-label-textarea {
        width: 227px;
        height: 91px;
        padding: 14px 18px;
    }

    .modal-buy-submit-button {
        width: 53px;
        padding: 14px 40px;
        height: 17px;
    }

    .modal-buy-label-icon-phone {
        left: 15px;
        top: 58%;
        width: 24px;
        height: 18px;
    }

    .modal-buy-label-icon-span-1 {
        left: 50px;
        top: 58.1%;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: -0.28px;
    }

    .modal-buy-label-icon-span-2 {
        left: 95px;
        top: 54%;
    }

    .modal-buy-label-span {
        font-size: 12px;
        font-weight: 500;
        line-height: 14px; /* 116.667% */
        letter-spacing: -0.24px;
    }

    .modal-buy-close {
        top: 14px;
        left: 87%;
    }

    // ------------------------------------REVIEW-MODAL
    .modal-review {
        width: 263px;
        height: 471px;
        padding-top: 32px;
        padding-left: 24px;
        padding-right: 24px;
        padding-bottom: 0;
    }

    .modal-review-header-span-1 {
        font-size: 20px;
        line-height: 24px; /* 120% */
        letter-spacing: -0.6px;
    }

    .modal-review-header-span-2 {
        font-size: 20px;
        line-height: 24px; /* 120% */
        letter-spacing: -0.6px;
    }

    .modal-review-form {
        width: 263px;
        margin-top: 32px;
        gap: 14px;
    }

    .modal-review-label-input {
        width: 227px;
        height: 17px;
        padding: 14px 18px;
    }

    .modal-review-label-input-phone {
        width: 136px;
        height: 17px;
        padding-top: 14px;
        padding-bottom: 14px;
        padding-top: 14px;
        padding-left: 105px;
    }

    .modal-review-label-textarea {
        width: 227px;
        height: 91px;
        padding: 14px 18px;
    }

    .modal-review-label-icon-phone {
        left: 15px;
        top: 35%;
        width: 24px;
        height: 18px;
    }

    .modal-review-label-icon-span-1 {
        left: 50px;
        top: 35.2%;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: -0.28px;
    }

    .modal-review-label-icon-span-2 {
        left: 90px;
        top: 31%;
    }

    .modal-review-label-input::placeholder,
    .modal-review-label-input-phone::placeholder,
    .modal-review-label-textarea::placeholder {
        font-size: 14px;
        letter-spacing: -0.28px;
    }

    .modal-review-send-button {
        width: 37px;
        height: 17px;
        padding: 12px 28px;
    }

    .modal-review-close {
        top: 14px;
        left: 87%;
    }

    // ------------------------------------SUBSCRIBE-MODAL
    .modal-subscribe-img {
        height: 169px;
        width: 311px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;    
    }

    .modal-subscribe {
        width: 263px;
        padding: 32px 24px;
    }

    .modal-subscribe-header-span-1 {
        font-size: 20px;
        line-height: 24px; /* 120% */
        letter-spacing: -0.6px;
    }

    .modal-subscribe-header-span-2 {
        font-size: 20px;
        line-height: 24px; /* 120% */
        letter-spacing: -0.6px;
    }

    .modal-subscribe-label-input {
        width: 220px;
        height: 17px;
        padding: 14px 18px;
    }

    .modal-subscribe-label-input::placeholder {
        font-size: 14px;
        letter-spacing: -0.28px;
    }

    .modal-subscribe-send-button {
        position: absolute;
        right: 24px;
        width: 44px;
        height: 17px;
        padding: 14px 28px;
    }

    .modal-subscribe-close {
        top: 14px;
        left: 87%;
    }
}

// @media (min-width: 1160px) {
//     .modal-buy-label-icon-phone {
//         top: 73%;
//         left: 73px;
//     }

//     .modal-buy-label-icon-span-1 {
//         top: 73.2%;
//         left: 115px;
//     }

//     .modal-buy-label-icon-span-2 {
//         top: 73.1%;
//         left: 175px;
//     }

//     .modal-buy-label-icon-card {
//         top: 87%;
//         left: 80%;
//     }
// }