* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root  {
    --orange: #FD9222;
    --darkblue: #1E1823;

    --transition-duration: 250ms;
}

.container{
    width: 100%;
}


.second-header{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    
    color: #111;
text-align: center;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 120% */
letter-spacing: -0.6px;
text-transform: uppercase;
}

.section-two-title{
    margin-top: 128px;
    margin-bottom: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.first-row{
    display: flex;
    flex-wrap: wrap;
    gap: 19px;
}

.second-row{
    display: flex;
    flex-wrap: wrap;
    gap: 19px;
}


.orange-text{
    color: var(--orange);
    padding-right: 7px;
    padding-left: 7px;

}

.second-header-paragraph{
    color: #111;
text-align: center;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 128.571% */
letter-spacing: -0.28px;
}


.ingredients-list{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: ease-in-out;
}

.ingredients-heading-paragraph{
    margin-bottom: 50px;
}

.ingredients-list{
    display: flex;
    flex-wrap: wrap;
    gap: 19px;
}

.ingredients-list-item{
    background-color: white;
    border: solid 1px var(--orange);
    border-radius: 15px;
    padding: 28px 36px 28px 28px;
}

.ingredients-list-item:hover{
    border: none;
}

.ingredients-name{
    color: #111;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 18px; /* 128.571% */
letter-spacing: -0.28px;
text-transform: uppercase;
margin-top: 36px;
}





.first-row .ingredients-list-item:first-child {
    background-color: var(--orange);
}


.second-row .ingredients-list-item:first-child {
    background-color: var(--darkblue);
    border: var(--darkblue);
}


.content-figcap{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: white;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    opacity: 0;
    transition: 0.4s;
    border-radius: 15px;
    padding: 20px;

}

.content-figcap:hover{
    opacity: 1;
}

.ingredients-list-item{
    position: relative;
}

.content-figcap-title{
    color: #111;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.54px;
text-transform: uppercase;
margin-bottom: 8px;
}

.content-figcap-paragraph{
    overflow: hidden;
color: #111;
text-overflow: ellipsis;
white-space: nowrap;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 128.571% */
letter-spacing: -0.28px;
}

.content-figcap-button{
    margin-bottom: 14px;
}

.content-figcap-button button {
    border-radius: 35px;
    background-color: orange;
    color: white; 
    padding: 6px 16px; 
    cursor: pointer; 
    height: 24px;
    color: #FFF;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: 12px;
border: white;


}

.content-figcap-button button:nth-child(2){
    background: white;
    border: solid 1px var(--orange);
    color: var(--darkblue);
}
