*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
}
:root {
    --iris: #1E1823;
    --orewood: #FD9222;
    --white: #FFF;
}
.benefits-container {
    background-color: var(--iris);
    display: flex;
    padding: 20px;
    justify-content: center;
    max-width: 355px;
    height: 100%;
    justify-content: center;
}
.benefits-lists-item-icon-svg {
    width: 32px;
    height: 32px;
    fill: var(--orewood);
}
.benefits-lists-item-icon-use {
    fill: var(--orewood);
}
.benefits-lists-item-icon {
    display: flex;
    width: 62px;
    height: 62px;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 22px;
    border-radius: 50%;
    fill: var(--orewood);    
}
.benefits-list-item {
    width: 308px;
    height: 243px;
}
.benefits-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    flex-direction: column;
}
.benefits-lists-item-text {
    color: var(--white);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 18px;
}
.benefits-lists-item-subtext {
    color: rgba(255, 255, 255, 0.70);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.28px;
}
@media screen and (min-width: 768px) {
    .benefits-container {
        max-width: 768px;
        padding: 50px;
    }
    .benefits-list {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 32px;
    }
}
@media screen and (min-width: 1200px) {
    .benefits-container {
        padding: 50px;
        max-width: 100%;
    }
    .benefits-list {
        flex-wrap: nowrap;
        gap: 88px;
        align-items: center;
        justify-content: center;
    }
    .benefits-list:nth-child(1)::after {
        content:'';
        height: 124px;
        width: 1px;
        background: rgba(255, 255, 255, 0.50);
        border-radius: 2px;
        position: absolute;
        right: -60px;
        top: 63px;
        left: 326px;
    }
    .active::after {
        content:'';
        height: 124px;
        width: 1px;
        background: rgba(255, 255, 255, 0.50);
        border-radius: 2px;
        position: absolute;
        right: 378px;
        top: 63px;
    }
}