<section class="container">
    <div class="subscribe-bg  subscribe-container">
        <h2 class="subscribe-title">
            EXPLORE OUR NEW <br />
            CHOCOLATE FIRST
        </h2>
        <p class="subscribe-text">
            From the velvety texture to the rich and complex flavor, our New
            Chocolate is a true indulgence that will leave you craving more. Made
            with only the finest ingredients and handcrafted with the utmost
            care, each piece is a work of art that is sure to please.
        </p>
        <button class="subscribe-button" type="button">
            Subscribe
        </button>
    </div>
</section>

<footer>
    <div class="footer-section">
        <div class="footers">

        </div>

        <div class="contact-us">
            <p class="footer-textnote"> <span class="footer-textcolor"> Chocolate </span> a delicious cure for a bad day
            </p>
            <address class="address">
                <p class="contact-text">Contact Us</p>
                <ul class="header-address lists">
                    <li class="item">
                        <a class="header-address-link links" href="mailto:info@devstudio.com" target="_blank"
                            rel="noopener noreferrer">simplychoc@gmail.com</a>
                    </li>
                    <li class="item">
                        <a class="header-address-link links" href="tel:+380684439426" target="_blank"
                            rel="noopener noreferrer">
                            +380 (68) 443-94-26</a>
                    </li>
                </ul>
            </address>

            <ul class="footer-list lists">
                <li class="footer-socials-item">
                    <a href="/" class="footer-socials-link">
                        <svg class="footer-social-svg" width="24" height="24">
                            <use href="./images/icons.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>

                <li class="footer-socials-item">
                    <a href="/" class="footer-socials-link">
                        <svg class="footer-social-svg" width="24" height="24">
                            <use href="./images/icons.svg#icon-twitter"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>

        <div class="footer-links lists">
                <ul class="header-list lists">
                    <li class="item">
                        <a class="notes links" href="index.html">Home</a>
                    </li>
                    <li class="item">
                        <a class="notes links" href="index.html">How it is made?</a>
                    </li>
                    <li class="item">
                        <a class="notes links" href="index.html">Our Products</a>
                    </li>
                    <li class="item">
                        <a class="notes links" href="index.html">Top Sellers</a>
                    </li>
                    <li class="item">
                        <a class="notes links" href="index.html">Chocolate is loved</a>
                    </li>
                </ul>
            </div>
    </div>
</footer>