<header>
  <div class="container">
    <div class="header-menu">
      <div>
        <a class="header-logo" href="index.html">
          <span class="logo-style">SIMPLY</span>&nbsp;CHOCOLATE
  
          <svg class="icon-logo" width="24" height="24" viewBox="0 0 24 24">
            <use href="/src/images/svg/icons.svg#icon-logo"></use>
          </svg>
        </a>
      </div>

      <div>
        <nav>
          <ul class="navigation-list">
            <li>
              <a class="navigation-item" href="#home">
                Home
              </a>
            </li>
  
            <li>
              <a class="navigation-item" href="#how-it's-made">
                How it's made?
              </a>
            </li>
  
            <li>
              <a class="navigation-item" href="#our-products">
                Our products
              </a>
            </li>
  
            <li>
              <a class="navigation-item" href="#top-sellers">
                Top sellers
              </a>
            </li>
  
            <li>
              <a class="navigation-item" href="#chocolate-is-loved">
                Chocolate is loved
              </a>
            </li>
          </ul>
        </nav>
      </div>
      
      <div class="header-socmed">
        <a href="#" target="_blank" rel="noreferrer noopener">
          <svg class="icon-instagram" width="24" height="24" viewBox="0 0 24 24">
            <use href="/src/images/svg/icons.svg#icon-instagram"></use>
          </svg>
        </a>
        
        <a href="#" target="_blank" rel="noreferrer noopener">
          <svg class="icon-twitter" width="24" height="24" viewBox="0 0 24 24">
            <use href="/src/images/svg/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </div>
    </div>

    <div class="header-background">
      <div class="header-content">
        <p class="header-caption">
          Treat yourself or a loved one to<br>
          our finest ingredients for a moment<br>
          of pure delight!
        </p>
  
        <div class="header-actions">
          <button class="buy-button" type="button">
            Buy now
          </button>
  
          <button class="how-button" type="button">
            How it's made
          </button>
  
          <button class="scroll-button" type="button">
            scroll down
          </button>
        </div>
      </div>
    </div>
  </div>

</header>