<header>
  <div class="header-dashboard">
    <div class="header-container">
      <a class="header-logo" href="header.html">
        <span class="logo-style">SIMPLY</span>CHOCOLATE

        <svg class="icon-logo" width="24" height="24" viewBox="0 0 24 24">
          <use href="/src/images/svg/icons.svg#icon-logo"></use>
        </svg>
      </a>

      <nav>
        <ul class="header-menu">
          <li>
            <a class="menu-item" href="#home">Home</a>
          </li>

          <li>
            <a class="menu-item" href="#how-it's-made">How it's made?</a>
          </li>

          <li>
            <a class="menu-item" href="#our-products">Our products</a>
          </li>

          <li>
            <a class="menu-item" href="#top-sellers">Top sellers</a>
          </li>

          <li>
            <a class="menu-item" href="#chocolate-is-loved">Chocolate is loved</a>
          </li>
        </ul>
      </nav>

      <div class="header-networks">
        <a href="#" target="_blank" rel="noreferrer noopener">
          <svg class="icon-networks" width="24" height="24" viewBox="0 0 24 24">
            <use href="/src/images/svg/icons.svg#icon-instagram"></use>
          </svg>
        </a>
        
        <a href="#" target="_blank" rel="noreferrer noopener">
          <svg class="icon-networks" width="24" height="24" viewBox="0 0 24 24">
            <use href="/src/images/svg/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </div>

      <div class="burger-menu">
        <a href="#" target="_blank" rel="noreferrer noopener">
          <svg class="icon-burger" width="32" height="32" viewBox="0 0 32 32">
            <use href="/src/images/svg/icons.svg#icon-menu"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</header>

<section>
  <div class="section-container">
    <div class="section-background">
      <div class="section-content">
        <p class="section-caption">
          Treat yourself or a loved one to<br>
          our finest ingredients for a moment
          of pure delight!
        </p>
  
        <div class="section-buttons">
          <div class="navigate-button">
            <button class="buy-button" type="button">
              Buy now
            </button>
    
            <button class="how-button" type="button">
              How it's made
            </button>
          </div>
          
          <div class="scroll-container">
            <p class="scroll-text">
              scroll down
            </p>
            
            <a class="scroll-button" href="#unsurpassed-taste">
              <svg class="scroll-down" href="#" width="14" height="8" viewBox="0 0 14 8">
                <use href="/src/images/svg/icons.svg#icon-down"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>