<!DOCTYPE html>
<html lang="en">
<head>
    <title>Section 2</title>
</head>

<body>

<!--Main Section-->
<main>
    <section class="second-section">
        <div class="ingrdients-second-section">

            <div class="ingredients-heading-paragraph">
                <div class="section-two-title">
                    <h2 class="second-header">IT ALL ADDS UP TO ONE </h2>
                    <h2 class="second-header">EXCEPTIONAL <span class="orange-text">TASTE</span> SENSATION</h2>
                </div>
                <p class="second-header-paragraph">At Simply Chocolate, we believe that the secret to exceptional chocolate<br>
                    is in the details. From the sourcing of the finest ingredients to the<br>
                     careful crafting of each individual piece, every step of our process adds<br>
                     up to one exceptional taste sensation.</p>
            </div>
                 <ul class="ingredients-list">

                    <div class="first-row">
                        <li class="ingredients-list-item"><img src="/src/images/chocolatebar.png" alt="chocolate">
                            <div class="ingredients-content">
                                <h3 class="ingredients-name">MILK CHOCOLATE</h3>
                            </div>
                            <div class="content-figcap">
                                <h2 class="content-figcap-title">MILK CHOCOLATE</h2>
                                <div class="content-figcap-button">
                                    <button>Chocolate</button>
                                    <button>The Benefits</button>
                                </div>
                                <p class="content-figcap-paragraph">Milk chocolate is a solid chocolate<br>
                                    confectionery containing cocoa, <br>
                                    sugar and milk. It is the most <br>
                                    consumed type of chocolate. <br>
                                    Chocolate was originally sold and<br> 
                                    consumed as a beverage in pre-<br>
                                    Columbian times. Although four-<br>
                                    fifths of all milk chocolate is sold<br> 
                                    in the United States and Europe.</p>
                            </div>
                        </li>
                        <li class="ingredients-list-item"><img src="/src/images/milk.png" alt="chocolate">
                            <div class="ingredients-content">
                                <h3 class="ingredients-name">MILK</h3>
                            </div>
                            <div class="content-figcap">
                                <h2 class="content-figcap-title">MILK</h2>
                                <div class="content-figcap-button">
                                    <button>milk</button>
                                    <button>The Benefits</button>
                                </div>
                                <p class="content-figcap-paragraph">Milk chocolate is a solid chocolate<br>
                                    Milk is a white liquid food <br>
                                    produced by the mammary <br>
                                    glands of mammals. It is the<br> 
                                    primary source of nutrition for <br>
                                    young mammals (including <br>
                                    breastfed human infants) before<br> 
                                    they are able to digest solid <br>
                                    food.Early-lactation milk, which is<br> 
                                    called colostrum, contains </p>
                            </div>
                        </li>
                    </div>

                    <div class="second-row">
                        <li class="ingredients-list-item"><img src="/src/images/nuts.png" alt="chocolate">
                            <div class="ingredients-content">
                                <h3 class="ingredients-name">NUTS</h3>
                            </div>
                            <div class="content-figcap">
                                <h2 class="content-figcap-title">NUTS</h2>
                                <div class="content-figcap-button">
                                    <button>nuts</button>
                                    <button>The Benefits</button>
                                </div>
                                <p class="content-figcap-paragraph">Milk chocolate is a solid chocolate<br>
                                    Almonds, pistachios, and walnuts <br>
                                    are some types of nuts that <br>
                                    contain healthy nutrients. When <br>
                                    eaten as part of a nutrient-dense <br>
                                    diet, these 9 nuts may offer <br>
                                    benefits such as reducing your <br>
                                    risk of heart disease. Theyre a <br>
                                    good source of fiber, healthy fats, <br>
                                    and plant protein. Plus, theyre...</p>
                            </div>
                        </li>
                        <li class="ingredients-list-item"><img src="/src/images/grain.png" alt="chocolate">
                            <div class="ingredients-content">
                                <h3 class="ingredients-name">SEMI - SWEET CHOCOLATE</h3>
                            </div>
                            <div class="content-figcap">
                                <h2 class="content-figcap-title">SEMI - SWEET CHOCOLATE</h2>
                                <div class="content-figcap-button">
                                    <button>sweet chocolate</button>
                                    <button>The Benefits</button>
                                </div>
                                <p class="content-figcap-paragraph">Milk chocolate is a solid chocolate<br>
                                    Semi-sweet chocolate has a <br>
                                    cocoa solid content of 35 to 65%.<br> 
                                    One of the best ways to gain an <br>
                                    understanding of this type of <br>
                                    chocolate is to compare it to a <br>
                                    different type of chocolate. <br>
                                    Semisweet is darker than milk </p>
                            </div>
                        </li>
                    </div>

                 </ul>

        </div>

    </section>
</main>


</body>


</html>