<section class="section1-benefits">
    <div class="container benefits-container">
        <ul class="benefits-list">
            <li class="benefits-list-item">
                <div class="benefits-lists-item-icon">
                    <svg class="benefits-lists-item-icon-svg">
                      <use href="/src/images/svg/icons.svg#icon-chocolate"/>
                    </svg>
                </div>
                <h2 class="benefits-lists-item-text">
                    Unsurpassed taste
                </h2>
                <p class="benefits-lists-item-subtext">
                    Crafted with the finest quality cocoa beans and a dedication to perfection, each bite is a decadent experience 
                    that simply cannot be matched. Savor the richness and complexity of our Unsurpassed Taste and discover a new level of chocolate bliss.
                </p>
            </li>
            <li class="benefits-list-item">
                <div class="benefits-lists-item-icon">
                    <svg class="benefits-lists-item-icon-svg">
                        <use href="/src/images/svg/icons.svg#icon-coin"/>
                    </svg>
                </div>
                <h2 class="benefits-lists-item-text">
                    Affordable price
                </h2>
                <p class="benefits-lists-item-subtext">
                    Indulge in high-quality chocolate without breaking the bank with Simply Chocolate's selection of affordable treats. 
                    Enjoy mouth-watering truffles and velvety chocolate bars without sacrificing taste or quality. Browse our selection and indulge in affordable luxury today.
                </p>
            </li>
            <li class="benefits-list-item">
                <div class="benefits-lists-item-icon">
                    <svg class="benefits-lists-item-icon-svg">
                        <use href="/src/images/svg/icons.svg#icon-spoon"/>
                    </svg>
                </div>
                <h2 class="benefits-lists-item-text">
                    Own production
                </h2>
                <p class="benefits-lists-item-subtext">
                    We take pride in our own production process, ensuring that every step is carefully crafted to perfection. 
                    From selecting the finest ingredients to handcrafting each piece, our attention to detail is evident in every bite.                        </p>
            </li>
            
        </ul>
    </div>
</section>