
  <section>
    <!-- Section 5 -->
    <div class="section-5">
        <h3 class="section-5-title"><span class="section-5-title1">Top</span><span class="section-5-title2">Sellers</span></h3>
     <ul class="section-5-images">
       <li><img class="section-5-image" src="/src/images/Section 5/section5-img1.jpg" alt="" width="368"  /></li>
        <li><img class="section-5-image" src="/src/images/Section 5/section5-img2.jpg" alt="" width="368"  /></li>
        <li><img class="section-5-image" src="/src/images/Section 5/section5-img3.jpg" alt="" width="368"  /></li>
    </ul>
    <div class="section-5-article">
        <article class="section-5-p">
            <p >Crazy enough chocolate originates from a bean just like the coffee bean called Cacao. Cacao has been around for thousands of years and was first discovered by the Native American tribe called the Mayans.</p>
        </article>
        <button class="section-5-btn">
            <h1 class=section-5-btn-text>Buy Now</h1>
        </button>
      </div>
    </div>
  </section>