
  <section class="container">
    <!-- Section 5 -->
    <div class="section-5">
        <h3 class="section-5-title"><span class="section-5-title1">Top</span><span class="section-5-title2">Sellers</span></h3>
     <div class="sec-5-img">
        <ul class="section-5-images">
          <li class="section-5-item">
          <picture>
            <source srcset="/src/images/Section5/section5-img1.jpg" media="(min-width: 1158px)">
            <source srcset="/src/images/Section5/tablet-img1.jpg" media="(min-width: 768px)">
            <img class="section-5-image" src="/src/images/Section5/mobile-img1.jpg" alt="chocolate 1" />
          </picture></li>
          <article class="section-5-p2">
            <p >Crazy enough chocolate originates from a bean just like the coffee bean called Cacao. Cacao has been around for thousands of years and was first discovered by the Native American tribe called the Mayans.</p>
        </article>
        <li class="section-5-item">
        <picture>
          <source srcset="/src/images/Section5/section5-img2.jpg" media="(min-width: 1158px)">
          <source srcset="/src/images/Section5/tablet-img2.jpg" media="(min-width: 768px)">
          <img class="section-5-image" src="/src/images/Section5/mobile-img2.jpg" alt="chocolate 2" />
        </picture></li>
        <li class="section-5-item">
          <picture>
            <source srcset="/src/images/Section5/section5-img3.jpg" media="(min-width: 1158px)">
            <img class="section-5-image" src="/src/images/Section5/section5-img3.jpg" alt="chocolate 3"  /></picture></li>
    </ul></div>
    <div class="section-5-article">
        <article class="section-5-p">
            <p >Crazy enough chocolate originates from a bean just like the coffee bean called Cacao. Cacao has been around for thousands of years and was first discovered by the Native American tribe called the Mayans.</p>
        </article>
        <button class="section-5-btn" data-modal-open>
            <h1 class=section-5-btn-text>Buy Now</h1>
        </button>
      </div>
    </div>
  </section>